body {
  @apply overflow-x-hidden;
}

article > *:not(.entry-content),
.entry-content > * {
  @apply mx-auto max-w-content;
}

.entry-content,
.block-editor-block-list__layout {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  p,
  ul,
  ol {
    a {
      @apply text-blue-500 underline;

      &:hover {
        @apply no-underline;
      }
    }

    @apply mb-8;
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside;
    }
  }
}

/* Custom styles for vertical pagination */
.swiper-pagination {
  @apply absolute right-2 top-1/2 transform -translate-y-1/2 flex flex-col;
}
.swiper-pagination-bullet {
  @apply my-1; /* Adjust margin as needed */
}

.text-menu {
  font-size: 0.875rem;
  line-height: 2rem;
}

.btn {
  @apply uppercase py-4;
}

.btn-primary {
  @apply bg-primary text-white w-44;
}
.separator {
  @apply w-full h-0.5;
  background: repeating-linear-gradient(
    to right,
    black 0,
    black 10px,
    transparent 10px,
    transparent 15px
  );
  @apply my-20;
}
